.menu {
  background-color: #fff;
  background-image: url("../images/background_menu.svg");
  size: cover;

  color: black;

  display: flex;
  align-items: center;
  flex-direction: column;
}

.menu__title {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;

  padding-top: 100px;
  padding-bottom: 24px;

  margin: 0;
  max-width: 780px;
}

.menu__subtitle {
  font-family: "Noto Serif", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;

  margin: 0;
  max-width: 780px;
  text-align: center;
}

.cards {
  padding: 100px 100px 100px 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;

  gap: 100px;
}

.card {
  width: 540px;
}

.card__title {
  margin-bottom: 32px;

  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
}

.card__list {
  padding-left: 0;
}

.card__list-item {
  display: flex;
  list-style-type: none;

  margin-bottom: 16px;

  font-family: "Noto Serif", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.card__list-divider {
  flex-grow: 1;
  border-bottom: 1px solid #000000;
}
